<app-header></app-header>

<ion-content>
  <div class="container">
    <p class="heading">Add Employee/Worker</p>
    <div class="box">
      <div class="circle">
        <a href=""><ion-icon name="images"></ion-icon></a>
      </div>
      <input type="text" placeholder="Employee Name">
      <input type="text" placeholder="Address">
      <input type="text" placeholder="Phone Number">
      <input type="text" placeholder="Date of birth">
      <button>Submit -></button>
    </div>
  </div>
</ion-content>
