<ion-header>
  <ion-toolbar>
    <ion-title>AddEmployee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p>Add Employee/Worker</p>
    <div class="box">
      <div class="circle">
        
      </div>
      <input type="text" placeholder="Employee Name">
      <input type="text" placeholder="Address">
      <input type="text" placeholder="Phone Number">
      <input type="text" placeholder="Date of birth">
      <input type="text" placeholder="Date of Submission">
      <button>Submit -></button>
    </div>
    <button class="lastbutton">Back</button>
  </div>
</ion-content>
