.container{
    font-family: 'Poppins', sans-serif;
    padding:10px;
}
.box{
    box-shadow:inset 10px 10px 10px rgba(0,0,0,0.05),
    15px 25px 10px rgba(0,0,0,0.05),
    15px 20px 20px rgba(0,0,0,0.05),;
    border: 3px solid var(--ion-color-primary);
    border-radius:  20px;
    padding: 10px;
    align-items: center;
    text-align: center;
}
.circle{
    display: block;
    margin: auto;
    height:75px;
    width: 75px;
    border-radius:50%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(235, 98, 98);
}
.box input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--ion-color-primary);
    margin-top: 15px;
    width: 90%;
}
.box button {
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: var(--ion-color-primary);
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.box img{
    margin-top: 20px;
}
.lastbutton{
        display: block;
        margin: auto;
        margin-top: 20px;
        background-color: var(--ion-color-primary);
        color: #fff;
        padding: 10px 50px;
        border-radius: 10px;
        margin-bottom: 20px;
        font-size: 15px;
    
}
.heading{
    margin-top: 15px;
    margin-left: 5px;
    font-size: 20px;

}
.circle a ion-icon{
    margin-top: 20px;
    color: #fff;
    height: 30px;
    width: 30px;
}
.heading{
    font-size: 25px;
    color: grey;
    font-weight: 600;
}