ion-list{
    ion-card{
        padding:10px;
        table{
            width:100%;
            // border:2px solid rgb(216, 216, 216);
            tr{
                padding:10px;
                width:100%;
                height:40px;
                border-bottom: 2px solid lightgrey;
                td{
                    padding:10px;
                }
                td:nth-child(1){
                    text-align: left;
                    font-weight: bold;
                }
                td:nth-child(2){
                    text-align: right;
                    color:var(--ion-color-primary);
                }
                th{
                    color:var(--ion-color-primary);
                    font-weight: bold;
                }
            }
        }
    }
    ion-spinner{
        left:50%;
        position: relative;
        transform: translateX(-50%);
    }
}