.container p{
    font-size: 20px;
    color: var(--ion-color-primary);
}
.container{
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.box{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(245, 111, 111);
    margin: 10px;
    border: 2px solid rgb(245, 111, 111);
    border-radius:20px;
}
.inner-box{
    border: 2px solid rgb(245, 111, 111);
    border-radius: 20px;
}
.box p{
    margin-left: 15px;
}
.container button{
    display: block;
    margin-top: 20px;
    background-color: var(--ion-color-primary);
    color: #fff;
    padding: 10px 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}