<app-header></app-header>
<ion-content>
    <div class="container">
        <p>Ledger Overview</p>
    </div>
    <div class="box">
        <p>Labour Ledger</p>
        <div class="inner-box">
            <app-labour-ledger-widget></app-labour-ledger-widget>
            <app-labour-ledger-widget></app-labour-ledger-widget>
            <app-labour-ledger-widget></app-labour-ledger-widget>
            <app-labour-ledger-widget></app-labour-ledger-widget>
             
        </div>
    </div>
    <div class="box">
        <p>Dala Ledger</p>
        <div class="inner-box">
            <app-dala-widget></app-dala-widget>
            <app-dala-widget></app-dala-widget>
            <app-dala-widget></app-dala-widget>
            <app-dala-widget></app-dala-widget>
            <app-dala-widget></app-dala-widget>
             
        </div>
    </div>
    <div class="box">
        <p>Expense Ledger</p>
        <div class="inner-box">
            <app-expense-ledger></app-expense-ledger>
            <app-expense-ledger></app-expense-ledger>
            <app-expense-ledger></app-expense-ledger>
            <app-expense-ledger></app-expense-ledger>
            <app-expense-ledger></app-expense-ledger>
             
        </div>
    </div>

</ion-content>
