.container p{
    font-size: 30px;
    color: grey;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 40px;
}
.container{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 15px;
}
.box{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--ion-color-secondary);
    margin: 05px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius:20px;
    box-shadow:inset 10px 10px 10px rgba(0,0,0,0.05),
    15px 25px 10px rgba(0,0,0,0.05),
    15px 20px 20px rgba(0,0,0,0.05),
    inset -10px -10px 15px rgba(0,0,0,0.05);
    padding: 10px;
    border: 2px solid var(--ion-color-secondary);
}
.inner-box{
    padding:05px;
}
.box p{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: -5px;
    font-weight: 600;
}
.box1 p{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: -5px;
    font-weight: 600;
    color: var(--ion-color-secondary);
    font-family: 'Poppins', sans-serif;
}
.container button{
    display: block;
    margin-top: 20px;
    background-color: var(--ion-color-secondary);
    color: #fff;
    padding: 10px 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}
.box1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 15px;

}
