<app-header></app-header>

<ion-content>
  <div class="container">
    <p class="heading">Move to Received</p>
    <form class="box" [formGroup]="receivedForm" (ngSubmit)="receivedSit()">
      <button type="button" (click)="takePicture()" class="camera">
        <ion-icon name="aperture-outline"></ion-icon>
      </button>
      <div>
        <input type="text" placeholder="Vehicle Number" formControlName="vehicleNumber">
        <!-- <ion-button (click)="verifyLicensePlate()" fill="clear" type="button">
          <ion-icon name="checkmark-done-outline"></ion-icon>
        </ion-button> -->
      </div>
      <input type="text" placeholder="Vehicle type" formControlName="vehicleType">
      <!-- <div class="recognition" *ngIf="recVehicleNumber!='' && recVehicleType!=''">
        <table>
          <tr>
            <td>Vehicle Number: &nbsp; &nbsp; &nbsp;</td>
            <td>{{recVehicleNumber}}</td>
          </tr>
          <tr>
            <td>Vehicle Type: &nbsp; &nbsp; &nbsp;</td>
            <td>{{recVehicleType}}</td>
          </tr>
        </table>
      </div> -->
      <hr>
      <ion-text color="primary">
        <h2>SIT Received by</h2>
      </ion-text>
      <ion-select multiple="false" placeholder="Select Supervisor" formControlName="supervisor">
        <ion-select-option *ngFor="let user of supervisors" [value]="user.id">
          {{user.name}}
        </ion-select-option>
      </ion-select>
      <ion-button expand="block" shape="round" class="ion-margin-top" [disabled]="!receivedForm.valid" type="submit">
        Submit
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
      <img src="assets/UI/Images/received1.png" alt="">
    </form>
  </div>
</ion-content>
