<ion-header>
  <ion-toolbar>
    <ion-title>EmployeeInfo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img src="assets/UI/Images/profile.jpg" alt="">
    <p class="heading">{{name}} {{code}}</p>
    <div class="details">
      <p><input type="text" placeholder="Email"></p>
      <p><input type="text" placeholder="Phone Number"></p>
      <p><input type="text" placeholder="Date of Joining"></p>
      <p><input type="text" placeholder="Address"></p>
      <textarea placeholder="Biography"></textarea>
    </div>
  </div>
  <button class="lastbutton">Back</button>
</ion-content>
