
<ion-content>
  <div class="container">
    <div class="const1">
      <p>Recieved Log</p>
    </div>
    <div class="details">
      <p>Bakery</p>
      <p class="opacity">{{bakery}}</p>
    </div>
    <div class="details">
      <p>Plant Name</p>
      <p class="opacity">{{suppplyname}}</p>
    </div>
    <div class="details">
      <p>Plant Code</p>
      <p class="opacity">{{suppplycode}}</p>
    </div>
    <div class="details">
      <p>Coordinator</p>
      <p class="opacity">{{coordinator}}</p>
    </div>
    <div class="details">
      <p>Coordinator Number</p>
      <p class="opacity">{{coordinatorphone}}</p>
    </div>
    <div class="details">
      <p>Dispatch Date</p>
      <p class="opacity">{{dispatchDate}}</p>
    </div>
    <div class="details">
      <p>Expected Date</p>
      <p class="opacity">{{expectedDelivery}}</p>
    </div>
    <div class="details">
      <p>Product Name</p>
      <p class="opacity">{{productname}}</p>
    </div>
    <div class="details">
      <p>Product Code</p>
      <p class="opacity">{{productcode}}</p>
    </div>
    <div class="details">
      <p>Delivery Code</p>
      <p class="opacity">{{Deliverycode}}</p>
    </div>
  </div>
  <ion-back-button defaultHref="/main/app/home">Back</ion-back-button>    
</ion-content>