<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" (click)="closeModal()" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Recieved Log Data</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
       <ion-item>
         <ion-label>Name</ion-label>
         <ion-label slot="end" color="primary">{{name}}</ion-label>
       </ion-item>
      <ion-item>
        <ion-label>Dispatch Date</ion-label>
        <ion-label slot="end" color="primary">{{dispatchDate}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Expected Delivery</ion-label>
        <ion-label slot="end" color="primary">{{expectedDelivery}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Delivery Code</ion-label>
        <ion-label slot="end" color="primary">{{Deliverycode}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-text color="primary">
      <h3>Coordinator</h3>
    </ion-text>
    <ion-item *ngIf="coordinator">
      <ion-avatar slot="start">
        <img [src]="coordinator.photoURL">
      </ion-avatar>
      <ion-label>{{coordinator.displayName}}</ion-label>
    </ion-item>
    <ion-spinner name="crescent" *ngIf="!coordinator"></ion-spinner>
    <hr>
    <ion-text color="primary">
      <h3>Products</h3>
    </ion-text>
    <app-product-ledger-widget 
      *ngFor="let product of products"
      [sellerName]="product.supplyPlantName"
      [itemName]="product.productName"
      [safe]="toNumber(product.quantity)"
      [ledgerNo]="sitId"
      [productCode]="product.productCode"
    ></app-product-ledger-widget>
    <hr>
    <ion-text color="primary">
      <h3>Vehicle Detail</h3>
    </ion-text>
    <ion-list>
      <ion-item>
        <ion-label>Vehicle No:</ion-label>
        <ion-label color="primary">{{products[0].vehicleNo}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Expected Delivery:</ion-label>
        <ion-label color="primary">{{products[0].expectedDelivery}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Storage Location:</ion-label>
        <ion-label color="primary">{{products[0].storageLocation}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Vehicle No:</ion-label>
        <ion-label color="primary">{{products[0].vehicleNo}}</ion-label>
      </ion-item>
    </ion-list>
</ion-content>