p{
    font-size: 30px;
    display: block;
    margin-top: 45px;
    margin-left: 27px;
    color: grey;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}