<app-header></app-header>

<ion-content>
  <p class="heading">Account Info</p>
  <form class="container" [formGroup]="userDataForm">
    <img [src]="this.dataProvider.userData?.photoURL" (click)="image.click()" referrerPolicy="no-referrer">
    <p *ngIf="!editable" class="text-center">{{name}}</p>
    <ion-item>
      <ion-label color="primary" slot="start">Edit</ion-label>
      <ion-toggle [value]="editable" (ionChange)="editable=!editable" [checked]="editable" color="primary">
      </ion-toggle>
    </ion-item>
    <input type="file" hidden #image>
    <table>
      <tbody>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Full Name</ion-label>
          </td>
          <td>
            <ion-input *ngIf="editable" type="text" formControlName="name"
              [value]="dataProvider.userData?.displayName" [debounce]="1000">
            </ion-input>
            <ion-label *ngIf="!editable">{{dataProvider.userData?.displayName || 'N/A'}}</ion-label>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Nick Name</ion-label>
          </td>
          <td>
            <ion-input *ngIf="editable" type="text" formControlName="nickName"
              [value]="dataProvider.userData?.nickName" [debounce]="1000">
            </ion-input>
            <ion-label *ngIf="!editable">{{dataProvider.userData?.nickName || 'N/A'}}</ion-label>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Email</ion-label>
          </td>
          <td>
            <ion-input *ngIf="editable" [value]="dataProvider.userData?.email" formControlName="email" type="email"
              [debounce]="1000" #emailInput></ion-input>
            <ion-label *ngIf="!editable">{{dataProvider.userData?.email || 'N/A'}}</ion-label>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Phone Number</ion-label>
          </td>
          <td>
            <ion-input *ngIf="editable" type="text" formControlName="phoneNumber" [value]="dataProvider.userData?.phoneNumber"
              [debounce]="1000"></ion-input>
            <ion-label *ngIf="!editable" >{{dataProvider.userData?.phoneNumber || 'N/A'}}</ion-label>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Access</ion-label>
          </td>
          <td>
            <ion-chip color="primary">{{dataProvider.userData?.access.access || 'N/A'}}</ion-chip>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Attendance</ion-label>
          </td>
          <td>
            <ion-label>{{dataProvider.userData?.attendanceCount || 'N/A'}}</ion-label>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Status</ion-label>
          </td>
          <td>
            <ion-chip color="success" *ngIf="!editable">{{dataProvider.userData?.status.access}}</ion-chip>
            <ion-select placeholder="Select Status" *ngIf="editable" [value]="dataProvider.userData?.status.access"
              formControlName="status">
              <ion-select-option value="active">Active</ion-select-option>
              <ion-select-option value="inactive">Inactive</ion-select-option>
            </ion-select>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Current Address</ion-label>
          </td>
          <td>
            <ion-textarea *ngIf="editable" type="text" formControlName="currentAddress"
              [value]="dataProvider.userData?.currentAddress || 'N/A'" [debounce]="1000"></ion-textarea>
              <ion-label *ngIf="!editable">{{dataProvider.userData?.currentAddress}}</ion-label>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Permanent Address</ion-label>
          </td>
          <td>
            <ion-textarea *ngIf="editable" type="text" formControlName="permanentAddress"
              [value]="dataProvider.userData?.permanentAddress || 'N/A'" [debounce]="1000"></ion-textarea>
              <ion-label *ngIf="!editable">{{dataProvider.userData?.permanentAddress}}</ion-label>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Department</ion-label>
          </td>
          <td>
            <ion-chip color="primary" mode="ios" outline="true" *ngIf="!editable">
              <ion-label>{{dataProvider.userData?.department.department || 'N/A'}}</ion-label>
            </ion-chip>
            <ion-select placeholder="Select Department" *ngIf="editable"
              [value]="dataProvider.userData?.department.department" formControlName="department">
              <ion-select-option value="godown">Godown</ion-select-option>
              <ion-select-option value="office">Office</ion-select-option>
            </ion-select>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Designation</ion-label>
          </td>
          <td>
            <ion-chip color="primary" mode="ios" outline="true" *ngIf="!editable">
              <ion-label>{{dataProvider.userData?.designation.designation || 'N/A'}}</ion-label>
            </ion-chip>
            <ion-select formControlName="designation" *ngIf="editable"
              [value]="dataProvider.userData?.designation.designation" placeholder="Select Designation">
              <ion-select-option value="godownInCharge">Guest</ion-select-option>
              <ion-select-option value="transportManager">Worker</ion-select-option>
              <ion-select-option value="unloadingSupervisor">Supervisor</ion-select-option>
              <ion-select-option value="loadingSupervisor">Loading Supervisor</ion-select-option>
              <ion-select-option value="sapSeniorOperator">SAP senior operator</ion-select-option>
              <ion-select-option value="sapOperator">SAP Operator</ion-select-option>
            </ion-select>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Blood Group</ion-label>
          </td>
          <td>
            <ion-chip color="primary" mode="ios" outline="true" *ngIf="!editable">
              <ion-label>{{dataProvider.userData?.bloodGroup.bloodGroup || 'N/A'}}</ion-label>
            </ion-chip>
            <ion-select placeholder="Select Blood Group" *ngIf="editable"
              [value]="dataProvider.userData?.bloodGroup.bloodGroup" formControlName="bloodGroup">
              <ion-select-option value="A+">A+</ion-select-option>
              <ion-select-option value="A-">A-</ion-select-option>
              <ion-select-option value="B+">B+</ion-select-option>
              <ion-select-option value="B-">B-</ion-select-option>
              <ion-select-option value="AB+">AB+</ion-select-option>
              <ion-select-option value="AB-">AB-</ion-select-option>
              <ion-select-option value="O+">O+</ion-select-option>
              <ion-select-option value="O-">O-</ion-select-option>
            </ion-select>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">User Id</ion-label>
          </td>
          <td>
            <ion-label>{{dataProvider.userData?.userId}}</ion-label>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <ion-button expand="block" fill="solid" (click)="save()" shape="round">
    Save
  </ion-button>
</ion-content>