<ion-header>
  <ion-toolbar>
    <ion-title>AccountPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img src="assets/UI/Images/profile.jpg" alt="">
    <p class="text-center">Random Name</p>
    <div class="parentdetails">
      <div class="details">
        <p>Email</p>
        <p class="opacity">{{Email}}</p>
      </div>
      <div class="details">
        <p>Access</p>
        <p class="opacity">{{acess}}</p>
      </div>
      <div class="details">
        <p>Active Since</p>
        <p class="opacity">{{activesince}}</p>
      </div>
      <div class="details">
        <p>Total Dispatched</p>
        <p class="opacity">{{totaldispatched}}</p>
      </div>
      <textarea placeholder="Biography"></textarea>
    </div>
  </div>
</ion-content>
