<app-header></app-header>

<ion-content>
  <p class="heading">Account Info</p>
  <form class="container" [formGroup]="userDataForm">
    <img [src]="userImage" referrerpolicy="no-referrer">
    <p *ngIf="!editable" class="text-center">{{name}}</p>
    <ion-item>
      <ion-label color="primary" slot="start">Edit</ion-label>
      <ion-toggle [value]="editable" (ionChange)="editable=!editable" [checked]="editable" color="primary">
      </ion-toggle>
    </ion-item>
    <table>
      <tbody>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Nick Name</ion-label>
          </td>
          <td>
            <ion-input *ngIf="editable" type="text" formControlName="nickName"
              [value]="dataProvider.userData?.nickName" [debounce]="1000" (ionChange)="setValue('nickName',$event)">
            </ion-input>
            <ion-label *ngIf="!editable">{{dataProvider.userData?.nickName}}</ion-label>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Email</ion-label>
          </td>
          <td>
            <ion-input *ngIf="editable" [value]="dataProvider.userData?.email" formControlName="email" type="email"
              [debounce]="1000" (ionChange)="setValue('email',$event)" #emailInput></ion-input>
            <ion-label *ngIf="!editable">{{dataProvider.userData?.email}}</ion-label>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Phone Number</ion-label>
          </td>
          <td>
            <ion-input *ngIf="editable" type="text" formControlName="phoneNumber" [value]="dataProvider.userData?.phoneNumber"
              [debounce]="1000" (ionChange)="setValue('phoneNumber',$event)"></ion-input>
            <ion-label *ngIf="!editable" >{{dataProvider.userData?.phoneNumber}}</ion-label>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Access</ion-label>
          </td>
          <td>
            <ion-chip color="primary">{{dataProvider.userData?.access.access}}</ion-chip>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Attendance</ion-label>
          </td>
          <td>
            <ion-label>{{dataProvider.userData?.attendanceCount}}</ion-label>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Status</ion-label>
          </td>
          <td>
            <ion-label *ngIf="!editable">{{dataProvider.userData?.status.access}}</ion-label>
            <ion-select placeholder="Select Status" *ngIf="editable" [value]="dataProvider.userData?.status.access"
              formControlName="status" (ionChange)="setValue('status.access',$event)">
              <ion-select-option value="active">Active</ion-select-option>
              <ion-select-option value="inactive">Inactive</ion-select-option>
            </ion-select>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Current Address</ion-label>
          </td>
          <td>
            <ion-textarea *ngIf="!editable" type="text" formControlName="currentAddress"
              [value]="dataProvider.userData?.currentAddress" [debounce]="1000"
              (ionChange)="setValue('currentAddress',$event)"></ion-textarea>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Permanent Address</ion-label>
          </td>
          <td>
            <ion-textarea *ngIf="!editable" type="text" formControlName="permanentAddress"
              [value]="dataProvider.userData?.permanentAddress" [debounce]="1000"
              (ionChange)="setValue('permanentAddress',$event)"></ion-textarea>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Department</ion-label>
          </td>
          <td>
            <ion-chip color="primary" mode="ios" outline="true" *ngIf="!editable">
              <ion-label>{{dataProvider.userData?.department.department}}</ion-label>
            </ion-chip>
            <ion-select placeholder="Select Department" *ngIf="editable"
              [value]="dataProvider.userData?.department.department" formControlName="department">
              <ion-select-option value="godown">Godown</ion-select-option>
              <ion-select-option value="office">Office</ion-select-option>
            </ion-select>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Designation</ion-label>
          </td>
          <td>
            <ion-chip color="primary" mode="ios" outline="true" *ngIf="!editable">
              <ion-label>{{dataProvider.userData?.designation.designation}}</ion-label>
            </ion-chip>
            <ion-select formControlName="designation" *ngIf="editable"
              [value]="dataProvider.userData?.designation.designation" placeholder="Select Designation">
              <ion-select-option value="godownInCharge">Guest</ion-select-option>
              <ion-select-option value="transportManager">Worker</ion-select-option>
              <ion-select-option value="unloadingSupervisor">Supervisor</ion-select-option>
              <ion-select-option value="loadingSupervisor">Loading Supervisor</ion-select-option>
              <ion-select-option value="sapSeniorOperator">SAP senior operator</ion-select-option>
              <ion-select-option value="sapOperator">SAP Operator</ion-select-option>
            </ion-select>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">Blood Group</ion-label>
          </td>
          <td>
            <ion-chip color="primary" mode="ios" outline="true" *ngIf="!editable">
              <ion-label>{{dataProvider.userData?.bloodGroup.bloodGroup}}</ion-label>
            </ion-chip>
            <ion-select placeholder="Select Blood Group" *ngIf="editable"
              [value]="dataProvider.userData?.bloodGroup.bloodGroup" formControlName="bloodGroup">
              <ion-select-option value="A+">A+</ion-select-option>
              <ion-select-option value="A-">A-</ion-select-option>
              <ion-select-option value="B+">B+</ion-select-option>
              <ion-select-option value="B-">B-</ion-select-option>
              <ion-select-option value="AB+">AB+</ion-select-option>
              <ion-select-option value="AB-">AB-</ion-select-option>
              <ion-select-option value="O+">O+</ion-select-option>
              <ion-select-option value="O-">O-</ion-select-option>
            </ion-select>
          </td>
        </tr>
        <tr>
          <td>
            <ion-label color="primary" slot="start">User Id</ion-label>
          </td>
          <td>
            <ion-label>{{userId}}</ion-label>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <ion-button expand="block" fill="solid" shape="round">
    Auto saved
  </ion-button>
</ion-content>