<ion-header>
  <ion-toolbar>
    <ion-title>SIT-Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img src="assets/UI/Images/no.2.jpg" alt="" class="back-image">
    <img src="/assets/UI/Images/profile.jpg" alt="" class="profile-image">
  </div>
  <div class="decoration">
    <div class="color-circle">
    </div>
    <div class="box">
      <p class="heading1">SIT Details</p>
      <div class="box1">
        <img src="/assets/UI/Images/profile.jpg" alt="" class="profile-image img-1">
        <div class="heading">
          <p>Code: {{Productcode}}</p>
          <p>Due: {{Deliverydate}}</p>
        </div>
      </div>
      <div class="details">
        <p>Dispatch Date</p>
        <p class="opacity">{{Dispatchdate}}</p>
      </div>
      <div class="details">
        <p>Delivery Date</p>
        <p class="opacity">{{Deliverydate}}</p>
      </div>
      <div class="details">
        <p>Product Code</p>
        <p class="opacity">{{Productcode}}</p>
      </div>
      <div class="details">
        <p>Quantity</p>
        <p class="opacity">{{Quantity}}</p>
      </div>
      <div class="details">
        <p>Vechile No.</p>
        <p class="opacity">{{VechileNo}}</p>
      </div>
      <div class="details">
        <p>Transport Name</p>
        <p class="opacity">{{Transportname}}</p>
      </div>
      <div class="details">
        <p>SupplierPlant Name</p>
        <p class="opacity">{{supplierplantname}}</p>
      </div>
      <div class="details">
        <p>Supplierplant Code</p>
        <p class="opacity">{{supplierplantcode}}</p>
      </div>
    </div>
  </div>
</ion-content>