<ion-header>
  <ion-toolbar>
    <ion-title>SIT-Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img src="assets/UI/Images/no.2.jpg" alt="" class="back-image">
    <img src="/assets/UI/Images/profile.jpg" alt="" class="profile-image">
  </div>
  <div class="decoration">
    <div class="color-circle">
    </div>
    <div class="box" style="background-color: #f3f3f3;">
      <p style="font-size: 20px;margin-left: 10px;">SIT Details</p>
      <div class="box1">
        <img src="/assets/UI/Images/profile.jpg" alt="" class="profile-image img-1">
        <div class="heading">
          <p>Code: {{Code}}</p>
          <p style="margin-top: -5px;">Due: {{Duedate}}</p>
        </div>
      </div>
      <div class="details">
        <p style="margin-left: 10px;">Dispatch Date <span><input type="text"></span></p>
        <hr>
      </div>
      <div class="details">
        <p style="margin-left: 10px;">Delivery Date<span><input type="text" style="margin-left: 23px;"></span></p>
        <hr>
      </div>
      <div class="details">
        <p style="margin-left: 10px;">Product Code<span><input type="text" style="margin-left: 19px;"></span></p>
        <hr>
      </div>
      <div class="details">
        <p style="margin-left: 10px;">Quantity<span><input type="text" style="margin-left: 61px;"></span></p>
        <hr>
      </div>
      <div class="details">
        <p style="margin-left: 10px;">Vechile No.<span><input type="text" style="margin-left: 42px;"></span></p>
        <hr>
      </div>
      <div class="details">
        <p style="margin-left: 10px;">Transport Name<span><input type="text" style="margin-left: 3px;width: 140px;"></span></p>
        <hr>
      </div>
    </div>
  </div>
</ion-content>