<div class="container">
  <div class="image">
    <img src="assets/UI/Images/Ellipse 2.png" alt="error loading image" srcset="">  
  </div>
  <div class="data">
    <h2>Vishwanathan Sharma</h2>
    <p><span><ion-icon name="call"></ion-icon></span>9989321456</p>
  </div>
  <div class="buttons">
    <button style="z-index: 1;">Call</button>
    <button style="background-color: #F1C36F;z-index: 2;"><ion-icon name="trash"></ion-icon></button>
    <button><ion-icon name="calendar"></ion-icon></button>
  </div>
</div>
