<div class="container">
  <div class="box">
    <img src="/assets/UI/Images/profile.jpg" alt="">
    <p style="font-size:15px;margin-left: -75px;">{{Bakery}}<br><span style="opacity: 0.5">{{ItemName}}</span></p>
    <p style="font-size: 13px;color: #23C258;">+98%<br><span style="color: #F57171;">2%<br>Pending</span></p> 
  </div>
  <div class="data">
    <p style="font-size:12px"><span style="opacity: 0.5">DUE DATE:<br></span>{{Duedate}}</p>
    <p style="font-size:12px"><span style="opacity: 0.5">Supp Code:<br></span>{{Suppcode}}</p>
    <button style="margin-right: -10px;margin-bottom: -10px;">Move To {{Moveto}}-></button>

  </div>
</div>
