<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ledgerOverview">
      <ion-icon name="document-outline"></ion-icon>
      <ion-label>Overview</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sit-overview">
        <ion-icon name="eye-outline"></ion-icon>
        <ion-label>Log</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
