.container{
    font-family: 'Poppins', sans-serif;
    padding:5px;
    margin: 5px;
}
.container button{
    display: block;
    margin-top: 20px;
    background-color: #6260A6;
    color: #fff;
    padding: 10px 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}
.container p{
    font-size: 25px;
    color: grey;
    font-weight: 600;
    margin: 15px;
}
.box{
    border-radius: 10px;
    border: 2px solid var(--ion-color-primary);
    padding: 10px;
}
div.calcBanner{
    display: flex;
    background: rgb(255, 133, 126);
    border-radius: 10px;
    border: red;
    padding: 10px;
    margin: 10px;
    box-shadow: 3px 0px 30px rgba(0,0,0,0.2);
    color:black;
    ion-icon{
        font-size: 30px;
        color: white;
    }
}