<ion-header>
  <ion-toolbar>
    <ion-title>Tracking</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="modalController.dismiss()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let item of users" button (click)="manageUser(item)">
      <ion-avatar slot="start">
        <img [src]="item.photoURL" />
      </ion-avatar>
      <div>
        <ion-label>{{item.displayName}}</ion-label>
        <ion-label class="email">{{item.email}}</ion-label>
      </div>
      <ion-badge *ngIf="item.access.access==='worker'" color="primary" slot="end">Employee</ion-badge>
      <ion-badge *ngIf="item.access.access==='admin'" color="success" slot="end">Admin</ion-badge>
      <ion-badge *ngIf="item.access.access==='supervisor'" color="warning" slot="end">Supervisor</ion-badge>
      <ion-badge *ngIf="item.access.access==='guest'" color="primary" slot="end">Guest</ion-badge>
    </ion-item>
    <img src="assets/UI/Images/empty.svg" *ngIf="!users" alt="Nothing In here" class="noData">
  </ion-list>
</ion-content>