<app-header></app-header>

<ion-content>
  <p class="heading">Driver Info</p>
  <div class="container">
    <img src="assets/UI/Images/profile.jpg" referrerPolicy="no-referrer"  alt="">
    <p class="text-center">Random Name</p>
    <div class="parentdetails">
      <div class="details">
        <p>Email</p>
        <p class="opacity">{{Name}}</p>
      </div>
      <div class="details">
        <p>Access</p>
        <p class="opacity">{{Code}}</p>
      </div>
      <div class="details">
        <p>Active Since</p>
        <p class="opacity">{{Phone}}</p>
      </div>
      <div class="details">
        <p>Total Dispatched</p>
        <p class="opacity">{{workingin}}</p>
      </div>
      <textarea placeholder="Biography"></textarea>
    </div>
  </div>
</ion-content>
