<div class="card">
  <div class="main">
    <div class="one">
      <img [src]="driverImage" alt="Driver Image">
      <div class="detail">
        <p>ID</p>
        <ion-label color="danger">{{driverId}}</ion-label>
      </div>
    </div>
    <div class="data">
      <div class="details">
        <h2>{{driverName}}</h2>
        <div class="detail chargetwo">
          <p>Coordinator</p>
          <span>{{coordinator}}</span>
        </div>
      </div>
      <div class="details">
        <div class="detail chargeone">
          <p style="margin-left: -45px;">Charge</p>
          <ion-label color="primary" style="margin-left: -38px;">&#8377;{{charge}}</ion-label>
        </div>
        <div class="detail">
          <p>Ledger No.</p>
          <ion-label color="warning" style="margin-left: 10px;">{{ledgerNo}}</ion-label>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button title="driver-info">
      <ion-icon name="document-text"></ion-icon>
    </button>
    <button title="call">
      <ion-icon name="call"></ion-icon>
    </button>
    <button>
      <ion-icon name="information-circle"></ion-icon>
    </button>
  </div>
</div>