.container{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    padding:05px;
    border-radius: 20px;
    margin-top: 10px;
    align-items: center;
}
.container  img{
    border-radius:50%;
    height: 50px;
    width: 50px;
}
.heading{
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
    color: #6260A6;
}
.box{
    display: flex;
    justify-content: space-between;
    margin-left: -100px;
}
.button-22{
    display:block;
    height:83px;
    padding: 25px 5px;
    color: #fff;
    background-color: #6260A6;
    border-radius:10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
}
.container p{
    color: black;
}
   