.container{
    font-family: 'Raleway', sans-serif;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    padding:10px;
    border-radius: 20px;
    margin-top: 10px;
}
.container  img{
    margin-top: 10px;
    border-radius:50%;
    height: 50px;
    width: 50px;
}
.heading{
    font-size: 13px;
    line-height: 20px;
    margin-top: 10px;
    color: #264A6A;
    font-weight: bold;
}
.box{
    display: flex;
    justify-content: space-between;
    margin-left: -100px;
}
.button-22{
    display:block;
    height:100%;
    padding: 25px 5px;
    color: #fff;
    background-color: #264A6A;
    border-radius: 10px;
}
   