<ion-header>
  <ion-toolbar>
    <ion-title>SITlog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <button>Back</button>
    <p>SIT Log</p>
    <div class="buttons">
      <button>Filter</button>
      <button>Sort</button>
    </div>
    <app-sit-ledger-widget></app-sit-ledger-widget>
    <app-sit-ledger-widget></app-sit-ledger-widget>
    <app-sit-ledger-widget></app-sit-ledger-widget>
    <app-sit-ledger-widget></app-sit-ledger-widget>
  </div>
  
</ion-content>
