.container {
    padding:10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.lastbutton{
    display: block;
    margin-top: 20px;
    background-color: var(--ion-color-primary);
    color: #fff;
    padding: 10px 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 15px;

}
app-expense-ledger{
    margin: 10px;
}