*{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.container img {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.box{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    border: 2px solid #6865BF;
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 20px;
}
.box input{
    border-radius: 5px;
    border: 1px solid #6865BF;
    margin:10px;
    padding: 5px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
.box h2{
    font-size:30px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    color: black;
}
.box button{
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    display:block;
    margin:auto;
    background-color: #6865BF;
    padding:10px 50px;
    margin-top: 10px;
}
.box p{
    opacity: 0.5;
    font-size: 15px;
    color: black;
    display: block;
    margin: auto;
    margin-top: 5px;
}
.logo{
    color: #F1C36F;
    height: 50px;
    width: 25px;
}
div.box1{
    position: relative;
    display:flex;
    margin: auto;
    padding: 0px 10px;
}
div.box a{
    margin: auto;
    display: block;
}