<ion-content>
  <div class="container">
    <img src="/assets/UI/Images/containers.jpg" alt="" srcset="" cover no-repeat>
    <div class="box">
      <h2>Sign Up</h2>
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Last Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Password">
      <button type="button">Sign Up</button>
      <p>or sign up using</p>
      <div class="box1">
        <ion-icon name="logo-facebook" class="logo"></ion-icon>
        <ion-icon name="logo-twitter" class="logo"></ion-icon>
        <ion-icon name="logo-google" class="logo"></ion-icon>
      </div>
      <p>If You Already have an Account<br></p>
      <a href="">Log In</a>

      
      
    </div>
  </div>
</ion-content>
