<ion-content>
  <img src="assets/UI/Images/Template.png">
  <div class="bubbleContainer"></div>
  <div class="container">
    <h1>Register Now!</h1>
    <p>Let's make you</p>
    <p>a part of it</p>
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <input type="text" [formControl]="fullNameControl" placeholder="Enter name">
      <div class="text-danger"
        *ngIf="fullNameControl && fullNameControl.errors && (fullNameControl.dirty || fullNameControl.touched)">
        <div *ngIf="fullNameControl.errors?.['required']">
          <small>Name is required</small>
        </div>
        <div *ngIf="fullNameControl.errors?.['minlength']">
          <small>Minimum length for name is 2</small>
        </div>
        <div *ngIf="fullNameControl.errors?.['maxlength']">
          <small>Maximum length for name is 50</small>
        </div>
      </div>
      <input type="email" [formControl]="emailControl" placeholder="Enter email">
      <div class="text-danger"
        *ngIf="emailControl && emailControl.errors && (emailControl.dirty || emailControl.touched)">
        <div *ngIf="emailControl.errors?.['required']">
          <small>Email is required</small>
        </div>
        <div *ngIf="emailControl.errors?.['email']">
          <small>Please provide a correct email address</small>
        </div>
      </div>
      <input type="password" [formControl]="passwordControl" placeholder="Enter password">
      <div class="text-danger"
        *ngIf="passwordControl && passwordControl.errors && (passwordControl.dirty || passwordControl.touched)">
        <div *ngIf="passwordControl.errors?.['required']">
          <small>Password is required</small>
        </div>
        <div *ngIf="passwordControl.errors?.['minlength']">
          <small>Minimum length for password is 8</small>
        </div>
        <div *ngIf="passwordControl.errors?.['maxlength']">
          <small>Maximum length for password is 50</small>
        </div>
      </div>
      <input type="password" [formControl]="confirmPasswordControl" placeholder="Confirm password">
      <div class="text-danger"
        *ngIf="confirmPasswordControl && confirmPasswordControl.errors && (confirmPasswordControl.dirty || confirmPasswordControl.touched)">
        <div *ngIf="confirmPasswordControl.errors?.['required']">
          <small>Please confirm password</small>
        </div>
        <div *ngIf="confirmPasswordControl.errors?.['minlength']">
          <small>Minimum length for password is 8</small>
        </div>
        <div *ngIf="confirmPasswordControl.errors?.['maxlength']">
          <small>Maximum length for password is 50</small>
        </div>
      </div>
      <button type="submit">Sign Up</button>
    </form>
    <div class="liner">
      <hr>
      <p>Or Continue With</p>
      <hr>
    </div>
    <!-- <!-- <h5>Forgot Password?</h5> -->
    <div class="social">
      <button (click)="authService.signInWithGoogle()">
        <ion-icon name="logo-google" class="logo"></ion-icon>
      </button>
    </div>
    <h4 class="register">Already have an account ? <span routerLink="../login">Sign In</span></h4>
  </div>
</ion-content>