<app-header></app-header>

<ion-content>
  <div class="container">
    <p class="heading">Move to Unloaded</p>
    <div class="box">
      <div class="circle">
        <a href=""><ion-icon name="images"></ion-icon></a> 
      </div>
      <input type="text" placeholder="Vechile Number">
      <input type="text" placeholder="Gate Number">
      <input type="text" placeholder="Vechile Type">
      <p>Quantity Details</p>
      <input type="text" placeholder="Safe Quantity">
      <input type="text" placeholder="Unsafe Quantity">
      <p>Labour Details</p>
      <input type="text" placeholder="Labour Name">
      <input type="text" placeholder="Labour Code">
      <p>Miscellaneous Expenses</p>
      <input type="text" placeholder="Dala charge">
      <input type="text" placeholder="Kept By">
      <input type="text" placeholder="Due To">
      <input type="text" placeholder="Reason">
      <input type="text" placeholder="Amount">
      <button>Submit -></button>
    </div>
  </div>
</ion-content>
