<app-header></app-header>

<ion-content class="ion-padding">
  <ion-text color="tertiary">
    <h1>Move To Unloaded</h1>
  </ion-text>
  <button (click)="takePicture()">
    <ion-icon name="aperture-outline"></ion-icon>
  </button>
  <form [formGroup]="unloadedForm" (onSubmit)="setAsUnloaded()" >
    <ion-list>
      <ion-row>
        <ion-item>
          <ion-label position="floating">Vehicle Number</ion-label>
          <ion-input type="text" formControlName="vehicleNumber"></ion-input>
        </ion-item>
        <button fill="clear">
          <ion-icon name="checkmark-done"></ion-icon>
        </button>
      </ion-row>
      <ion-item>
        <ion-label position="floating">Gate Number</ion-label>
        <ion-input type="text" formControlName="gateNumber"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top" lines="none">
        <ion-text>
          <h2>Quantity Details</h2>
        </ion-text>
      </ion-item>
      <ion-card *ngFor="let product of products" class="ion-padding">
        <ion-label><strong>Name:</strong> {{product.productName}}</ion-label>
        <br>
        <ion-label><strong>Product Id:</strong> {{product.productCode}}</ion-label>
        <ion-row>
          <ion-range
            min="0" [max]="toNumber(product.quantity)" pin="true" [name]="product.productCode"
            snaps="true" step="1" ticks="true" value="0" snaps="true">
          </ion-range>
          <ion-chip color="primary" mode="md" outline="true">
            <ion-label><strong>Total:</strong> {{toNumber(product.quantity)}}</ion-label>
          </ion-chip>
        </ion-row>
      </ion-card>
      <ion-item lines="none" class="ion-margin-top">
        <ion-text>
          <h2>Select Workers</h2>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Select Workers</ion-label>
        <ion-select multiple="true" cancelText="Cancel" okText="Done" formControlName="workingWorkers" (ionChange)="genWorkerList($event)">
          <ion-select-option [value]="{id:worker.userId,name:worker.displayName,image:worker.photoURL}" *ngFor="let worker of workers">
            <ion-label>
              <ion-avatar>
                <img [src]="worker.photoURL" style="width:20px;height:20px;border-radius: 50%;" referrerpolicy="no-referrer" />
              </ion-avatar>
              {{worker.displayName}}
            </ion-label>
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" *ngIf="workersList.length > 0">
        <ion-text>
          <h2>Worker Charges</h2>
        </ion-text>
      </ion-item>
      <form [formGroup]="labourChargeForm" class="workerForm">
        <ion-card *ngFor="let worker of workersList" class="ion-padding">
          <ion-row>
            <ion-avatar style="--border-radius:30px;">
              <img [src]="worker.image" />
            </ion-avatar>
            <ion-col>
              <ion-label><strong>Name:</strong> {{worker.name}}</ion-label>
              <ion-input type="number" placeholder="Charges" [formControlName]="worker.id"></ion-input>
            </ion-col>
          </ion-row>
        </ion-card>
      </form>
      <hr>
      <ion-item lines="none">
        <ion-text>
          <h2>Miscellaneous Expenses</h2>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Vehicle Damage</ion-label>
        <ion-input type="text" formControlName="vehicleDamage"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Personel Damage</ion-label>
        <ion-input type="text" formControlName="personelDamage"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Legal Tax/Charge</ion-label>
        <ion-input type="text" formControlName="legalCharges"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Other</ion-label>
        <ion-input type="text" formControlName="otherDamage"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Explain</ion-label>
        <ion-textarea formControlName="explainDamage"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" fill="solid" mode="ios">
      Submit
    </ion-button>
  </form>
</ion-content>