ion-content > button {
    width:100px;
    height:100px;
    background-color: rgb(236, 236, 236);
    position: relative;
    border-radius:50%;
    margin:0 auto;
    left: 50%;
    transform: translateX(-50%);
}
ion-content > button > ion-icon {
  font-size: 80px;
  color: rgb(189, 189, 189);
}
ion-item > ion-text > h2 {
    margin-top: 50px;
    font-size: 25px;
    color: rgb(117, 117, 117);
}
ion-list > ion-row {
    align-items: flex-end;
}
ion-list > ion-row > ion-item {
    flex:2;
}
ion-list > ion-row > button{
    border-bottom: 1px solid var(--ion-color-primary);
    height:100%;
    width:60px;
    background:transparent;
}
ion-list > ion-row > button > ion-icon {
    font-size: 25px;
    color: var(--ion-color-primary);
}
form{
    margin-bottom: 60px;
}


