<app-header title="Employee list"></app-header>
<ion-content>
    <div class="container">
        <button>Back</button>
        <p>Employee List</p>
    </div>
    <app-employee-data-widget></app-employee-data-widget>
    <app-employee-data-widget></app-employee-data-widget>
    <app-employee-data-widget></app-employee-data-widget>
    <app-employee-data-widget></app-employee-data-widget>
    <app-employee-data-widget></app-employee-data-widget>
    <app-employee-data-widget></app-employee-data-widget>
    <app-employee-data-widget></app-employee-data-widget>
    <app-employee-data-widget></app-employee-data-widget>

</ion-content>
