<app-header></app-header>
<ion-content>
    <div class="container">
        <p>Employee List</p>
    </div>
    <ion-item *ngFor="let employee of employees" (click)="openUser(employee)" button detail="true">
        <ion-label>{{employee.displayName}}</ion-label>
        <ion-chip [color]="isPresent(employee.attendanceDate) ? 'success' : 'danger'" mode="ios" outline="true" slot="end">
            <ion-label>{{isPresent(employee.attendanceDate) ? 'Present' : 'Absent'}}</ion-label>
        </ion-chip>
    </ion-item>
    <img src="assets/UI/Images/empty.svg" referrerPolicy="no-referrer"  *ngIf="!employees" alt="Nothing In here" class="noData">
</ion-content>
