<app-header></app-header>

<ion-content>
  <p>Dala-Ledger</p>
  <app-dala-widget 
        *ngFor="let item of dalaLedgers"
        [driverName]="item.driverName"
        [driverImage]="item.driverImage"
        [driverNumber]="item.driverNumber"
        [driverId]="item.driverId"
        [charge]="item.charge"
        [ledgerNo]="item.ledgerNo"
        [coordinator]="item.coordinator">
  </app-dala-widget>
  <app-dala-widget 
        *ngFor="let item of dalaLedgers"
        [driverName]="item.driverName"
        [driverImage]="item.driverImage"
        [driverNumber]="item.driverNumber"
        [driverId]="item.driverId"
        [charge]="item.charge"
        [ledgerNo]="item.ledgerNo"
        [coordinator]="item.coordinator">
  </app-dala-widget>
  <app-dala-widget 
        *ngFor="let item of dalaLedgers"
        [driverName]="item.driverName"
        [driverImage]="item.driverImage"
        [driverNumber]="item.driverNumber"
        [driverId]="item.driverId"
        [charge]="item.charge"
        [ledgerNo]="item.ledgerNo"
        [coordinator]="item.coordinator">
  </app-dala-widget>
  <app-dala-widget 
        *ngFor="let item of dalaLedgers"
        [driverName]="item.driverName"
        [driverImage]="item.driverImage"
        [driverNumber]="item.driverNumber"
        [driverId]="item.driverId"
        [charge]="item.charge"
        [ledgerNo]="item.ledgerNo"
        [coordinator]="item.coordinator">
  </app-dala-widget>

</ion-content>
