
  <div class="container">
    <div class="const1">
      <p>Unloaded Log</p>
    </div>
    <div class="details">
      <p>Bakery</p>
      <p class="opacity">{{bakery}}</p>
    </div>
    <div class="details">
      <p>Supply Name</p>
      <p class="opacity">{{suppplyname}}</p>
    </div>
    <div class="details">
      <p>Supply Code</p>
      <p class="opacity">{{suppplycode}}</p>
    </div>
    <div class="details">
      <p>Coordinator</p>
      <p class="opacity">{{coordinator}}</p>
    </div>
    <div class="details">
      <p>Coordinator Number</p>
      <p class="opacity">{{coordinatorphone}}</p>
    </div>
    <div class="details">
      <p>dispatchdate</p>
      <p class="opacity">{{dispatchDate}}</p>
    </div>
    <div class="details">
      <p>expectedDelivery</p>
      <p class="opacity">{{expectedDelivery}}</p>
    </div>
    <div class="details">
      <p>Product Code</p>
      <p class="opacity">{{productcode}}</p>
    </div>
    <div class="details">
      <p>Product Name</p>
      <p class="opacity">{{productname}}</p>
    </div>
    <div class="details">
      <p>Delivery Code</p>
      <p class="opacity">{{Deliverycode}}</p>
    </div>
    <div class="details">
      <p>Gate Number</p>
      <p class="opacity">{{Gatenumber}}</p>
    </div>
    <div class="details">
      <p>Recieved Code</p>
      <p class="opacity">{{Recievedata}}</p>
    </div>
    <div class="details">
      <p>Submit By</p>
      <p class="opacity">{{submitby}}</p>
    </div>
  </div>
