.const1 p{
    color:grey;
    font-weight: 600;
    margin: 15px;
    margin-left: 20%;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.details input{
    width: 150px;
    background-color: #f3f3f3;
    border: none;
    border-bottom: 1px solid var(--ion-color-secondary);
    align-items:right;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--ion-color-secondary);
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-Color:#FFF;
}
.details p{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: var(--ion-color-secondary);
}
.container{
    margin: 10px;
    background-color: #FFF;
    box-shadow: inset 10px 10px 10px rgba(0,0,0,0.05),
    15px 25px 10px rgba(0,0,0,0.05),
    15px 20px 20px rgba(0,0,0,0.05),
    inset -10px -10px 15px rgba(255, 255, 255, 0.9);
    border: 2px solid var(--ion-color-secondary);
    border-radius:  10px;
}
ion-spinner{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}