<!-- <app-header title="Home"></app-header> -->
<ion-content>
    <aside>
        <div id="topNav">
            <button>
                <ion-menu-button></ion-menu-button>
            </button>
            <div class="greetings">
                <p class="greet">Welcome</p>
                <p class="username">
                    {{dataProvider?.userData?.displayName}}
                </p>
                <app-user-image></app-user-image>
            </div>
        </div>
        <div id="card">
            <div>
                <p class="head">Summary</p>
                <table>
                    <tr>
                        <td>Pending</td>
                        <td style="color:rgb(255, 107, 107)">&nbsp;&nbsp;&nbsp;&nbsp;{{pending}}</td>
                    </tr>
                    <tr>
                        <td>Recieved</td>
                        <td style="color:rgb(107, 201, 255)">&nbsp;&nbsp;&nbsp;&nbsp;{{recieved}}</td>
                    </tr>
                    <tr>
                        <td>Unloaded</td>
                        <td style="color:rgb(61, 194, 94)">&nbsp;&nbsp;&nbsp;&nbsp;{{unloaded}}</td>
                    </tr>
                </table>
            </div>
            <div style="display: block" class="chart">
                <canvas baseChart
                  [data]="doughnutChartData"
                  [legend]="false"
                  [type]="doughnutChartType">
                </canvas>
            </div>
        </div>
    </aside>
    <main>
        <div class="buttonLinks">
            <button routerLink="../add-employee">
                <ion-icon name="person-add"></ion-icon>
            </button>
            <button (click)="reportBug()">
                <ion-icon name="bug"></ion-icon>
            </button>
            <button>
                <ion-icon name="people" routerLink="../employeeList"></ion-icon>
            </button>
            <button>
                <ion-icon name="document-text" routerLink="../ledgerOverview"></ion-icon>
            </button>
            <button>
                <ion-icon name="sync-circle"></ion-icon>
            </button>
        </div>
        <p class="title">Dashboard</p>
        <div class="quickLinks">
            <button class="linkCard" routerLink="../employeeList">
                <div>
                    <p>Employee</p>
                    <p>List</p>
                </div>
                <img src="assets/UI/QuickLinks/employeeList.svg" alt="Employee working">
            </button>
            <div class="linkCard" routerLink="../pending-sit">
                <div>
                    <p>Pending</p>
                    <p>SIT List</p>
                </div>
                <img src="assets/UI/QuickLinks/pendingLedger.svg" alt="">
            </div>
            <div class="linkCard" routerLink="../recieved-sit">
                <div>
                    <p>Recieved</p>
                    <p>SIT List</p>
                </div>
                <img src="assets/UI/QuickLinks/recievedLedger.svg" alt="">
            </div>
            <div class="linkCard" routerLink="../driver-list">
                <div>
                    <p>Driver</p>
                    <p>List</p>
                </div>
                <img src="assets/UI/QuickLinks/driver.svg" alt="">
            </div>
        </div>
        <p class="text-1">Recently Opened</p>
        <app-sit-ledger-widget 
        *ngFor="let item of sitLedgers"
            [bakery]="item.supplierName"
            [suppCode]="item.supplierCode"
            [dueDate]="item.sit[0].expectedDelivery"
            [dispatchDate]="item.sit[0].dispatchDate"
            [deliveryCode]="item.sit[0].deliveryCode"
            [expectedDelivery]="item.sit[0].expectedDelivery"
            [gateEntryDate]="item.sit[0].gateEntryDate"
            [gateEntryNo]="item.sit[0].gateEntryNumber"
            [mfgLocation]="item.sit[0].mfgLocation"
            [productCode]="item.sit[0].productCode"
            [productName]="item.sit[0].productName"
            [quantity]="item.sit[0].quantity"
            [recPlantDesc]="item.sit[0].recievePlantName"
            [remarks]="item.status"
            [suppPlant]="item.sit[0].supplyPlantCode"
            [suppPlantDesc]="item.sit[0].supplyPlantName"
            [storageLocation]="item.sit[0].storageLocation"
            [transName]="item.sit[0].transporterName"
            [vehicleNo]="item.sit[0].vehicleNo"
            [status]="item.status"
            [allData]="item"
        ></app-sit-ledger-widget>
    </main>
</ion-content>