* {
    animation: fadeIn 0.3s ease-in;
  }
.container{
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
.img-and-name{
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.chart{
    height:60px;
    width:60px;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box > .img-and-name > img{
    margin-top: 10px;
    border-radius:50%;
    height: 60px;
    width: 60px;
    box-shadow: 1px 2px 5px rgb(155, 147, 147);
    margin-left: 5px;
}
.box > .img-and-name > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box > .img-and-name > div > p {
    margin:0px;
}
.box > .img-and-name > div > p:nth-child(1){
    font-size: 14px;
    font-weight: bold;
    color: var(--ion-color-primary);
}
.box > .img-and-name > div > p:nth-child(2){
    font-size: 12px;
    color: #000;
}
.box span{
    color: var(--ion-color-primary);
}
.code-and-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.code-and-price > .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.code-and-price > .details > p > strong{
    color:var(--ion-color-primary);
}
.code-and-price > .details > p{
    margin:0px;
    font-size: 13px;
}
.code-and-price > .buttons{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.code-and-price > .buttons > .safe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.code-and-price > .buttons > .safe > p{
    margin:0px;
    font-size: 13px;
    color:var(--ion-color-success);
}
.code-and-price > .buttons > .safe > div {
    width:50px;
    height:30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color:white;
    padding:3px;
    background:var(--ion-color-success);
    text-align: center;
}
.code-and-price > .buttons > .damaged > p{
    margin:0px;
    font-size: 13px;
    color:var(--ion-color-danger);
}
.code-and-price > .buttons > .damaged > div {
    width:50px;
    height:30px;
    color:white;
    padding:3px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background:var(--ion-color-danger);
}

@keyframes fadeIn {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
}
