<div class="container">
  <div class="box">
    <div class="img-and-name">
      <img [src]="image" referrerpolicy="no-referrer"  alt="">
      <div>
        <p>{{sellerName}}</p>
        <p>{{itemName}}</p>
      </div>
    </div>
  </div>
  <div class="code-and-price">
    <div class="details">
      <p><strong>Code: </strong>{{ledgerNo}}</p>
      <p><strong>Product: </strong>{{productCode}}</p>
    </div>
    <div class="buttons">
      <div class="safe">
        <p>Safe:</p>
        <div>{{safe}}Kg</div>
      </div>
      <div class="damaged">
        <p>Damaged:</p>
        <div>{{damage}}Kg</div>
      </div>
    </div>
  </div>
  <ion-button (click)="showImage=!showImage" expand="block" *ngIf="damageImage" fill="solid" shape="round">
    {{showImage ? 'Hide Image' : 'Show Image'}}
  </ion-button>
  <img [src]="damageImage" referrerpolicy="no-referrer"  *ngIf="showImage" (load)="imageLoaded=false">
  <ion-spinner name="crescent" *ngIf="imageLoaded && damageImage && showImage"></ion-spinner>
</div>