<div class="container">
  <div class="box">
    <img src="assets/UI/Images/profile.jpg" alt="">
    <p style="font-size:15px;margin-left:-5px;">TIRUPATI BAKERS<br><span style="opacity: 0.5">biscuit</span></p>
    <div class="damage">
      <p><span style="opacity: 0.5">Safe<br></span>98Kg</p>
      <p><span style="opacity: 0.5">Damage<br></span>28Kg</p>
    </div>
    <img src="assets/UI/Images/circle.png" alt="" style="border-radius:50%;height: 50px;width: 50px;box-shadow: 1px 2px 5px rgb(155, 147, 147);margin-top: 10px;">
  </div>
  <div class="code-and-price">
    <p><span style="opacity: 0.5">Code<br></span>1234XYZ</p>
    <p><span style="opacity: 0.5">Price<br></span>24000</p>
  </div>
</div>
