<ion-header>
  <ion-toolbar>
    <ion-title>Recieved</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p>Move to Recieved</p>
    <div class="box">
      <div class="circle" style="background-color: rgb(235, 98, 98);">
        
      </div>
      <input type="text" placeholder="Vechile Number">
      <input type="text" placeholder="Gate Number">
      <button>Submit -></button>
      <img src="assets/UI/Images/recieved1.png" alt="">
    </div>
  </div>
</ion-content>
