<app-header></app-header>
<ion-content>
    <p>All Received SIT</p>
    <div class="container">
        <div *ngFor="let item of sitLedgers">
            <app-sit-ledger-widget *ngIf="item.status==='received'"
                [bakery]="item.supplierName"
                [suppCode]="item.supplierCode"
                [dueDate]="item.sit[0].expectedDelivery"
                [dispatchDate]="item.sit[0].dispatchDate"
                [deliveryCode]="item.sit[0].deliveryCode"
                [expectedDelivery]="item.sit[0].expectedDelivery"
                [gateEntryDate]="item.sit[0].gateEntryDate"
                [gateEntryNo]="item.sit[0].gateEntryNumber"
                [mfgLocation]="item.sit[0].mfgLocation"
                [productCode]="item.sit[0].productCode"
                [productName]="item.sit[0].productName"
                [quantity]="item.sit[0].quantity"
                [recPlantDesc]="item.sit[0].recievePlantName"
                [remarks]="item.status"
                [suppPlant]="item.sit[0].supplyPlantCode"
                [suppPlantDesc]="item.sit[0].supplyPlantName"
                [storageLocation]="item.sit[0].storageLocation"
                [transName]="item.sit[0].transporterName"
                [vehicleNo]="item.sit[0].vehicleNo"
                [status]="item.status"
                [allData]="item"
            ></app-sit-ledger-widget>
        </div>
        <div *ngIf="sitLedgers.length == 0">
            <h5>No Received SIT Found</h5>
            <img src="assets/UI/Images/empty.svg" alt="Empty" style="width:100vw; height:auto;">
        </div>
    </div>
</ion-content>
